body {
  background-color: rgb(241, 241, 241) !important;
}

.header-container {
  border-bottom: solid 2px black;
  border-top: solid 2px black;
}

.footer {
  width: 100%;
  color: #757575;
  text-align: start;
  position: absolute;
  bottom: 0;
}
